<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%highlight{%d{HH:mm:ss}{GMT+0} [%t] %-5level: %c{1}.%M(%F:%L) - %msg%n%throwable}"/>
        </Console>
        <File name="File" fileName="timing-evaluator.log">
            <PatternLayout pattern="%d{HH:mm:ss}{GMT+0} [%t] %-5level: %c{1}.%M(%F:%L) - %msg%n%throwable"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
        <Logger name="de.rub.nds.timingdockerevaluator" level="info"/>
        <Logger name="de.rub.nds.tlsattacker.core.workflow.task" level="info"/>
        
    </Loggers>
</Configuration>
